<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Agora -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name="com.amora.app.AppLifecycle"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.amora.app.activity.WinnerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.SearchUserActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.ImagePickerActivity"
            android:exported="true" />
        <activity
            android:name="com.amora.app.activity.SettingActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.ViewProfile"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BroadcastScreen" />
        <activity
            android:name="com.amora.app.activity.OnCamFriendsActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.ChatActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.amora.app.activity.InboxDetails"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.RateDialogActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.IncomingCallScreen"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.VoiceChatViewActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.LevelUpActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.SelectPaymentMethod"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.amora.app.activity.VideoChatActivity"
            android:allowTaskReparenting="true"
            android:autoRemoveFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:theme="@style/AppTheme.BroadcastScreen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.amora.app.activity.PurchaseCoins"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- Facebook Implementations -->
        <activity
            android:name="com.amora.app.activity.PrivacyPolicy"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.MaleWallet"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.EditProfile"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.Login"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.amora.app.activity.SocialLogin"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amora.app.activity.MainActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name="com.amora.app.activity.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.amora.app.push_notification.MyFirebaseMessagingService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/facebook_app_id" />
            </intent-filter>
        </activity> <!-- Facebook Implementations Ends Here -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="0" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- App Flyer -->
        <receiver
            android:name="com.appsflyer.SingleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>


        <!-- Razorpay Fix -->
        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:exported="true" />

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.razorpay.CHECKOUT_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>